@{
    ViewData["Title"] = "View";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<head>
    <script>
        function validateHTMlform()
        {
           let form = document.EmployeeSignupForm;
          

           if( form.textnames.value == "" || form.textnames.value == "  " || form.textnames.value == "   ")
           {
             alert( "Enter Your First Name!" );
             form.textnames.focus() ;
             return false;
           }
           if( form.lastnames.value == "" || form.lastnames.value == "  " || form.lastnames.value == "   " )
           {
             alert( "Enter Your Last Name!" );
             form.textnames.focus() ;
             return false;
           }
           if( form.mobile.value == "" ||
                   isNaN( form.mobile.value) ||
                   form.mobile.value.length != 10 )
           {
             alert( "Enter your Mobile No. in the format 123." );
             form.mobile.focus() ;
             return false;
           }
           if ( ( EmployeeSignupForm.sex[0].checked == false ) && ( EmployeeSignupForm.sex[1].checked == false ) )
           {
           alert ( "Choose Your Gender: Male or Female" );
           return false;
           }  
           if( form.City.value == "-1" )
           {
             alert( "Enter Your City!" );
             form.City.focus() ;
             return false;
           }   
           if( form.District.value == "-1" )
           {
             alert( "Select Your District!" );
   
             return false;
           }  
           if( form.State.value == "-1" )
           {
             alert( "Select Your State!" );
   
             return false;
           }
          if( form.doj.value == "" )
           {
             alert( "Enter your Date Of Joining..!" );
             form.doj.focus() ;
             return false;
           }
           return( true );
        }
    </script>
    <style>
    
    form{
      background-color:lightgrey;
      height:700px;
    }
    td
    {
        padding:10px;
    }
    .label
    {
        font-weight:bold;
        font-size:25px;
        color:blueviolet;
        font-style:italic;
    }
    #reset,#submit
    {
        width:150px;
        height:40px;
        border-radius:5px 5px 5px 5px;
        font-weight:bold;
        color:maroon;
        background-color:antiquewhite;
        margin:15px;
    }
    </style>
    </head>
    <body>
    <form action="#" name="EmployeeSignupForm" onsubmit="return(validateHTMlform());">
     
    <div width="20%"height="900" align="center">
     
    <center><font size=10><b>Employee Registration Form</b></font></center>
    
       <table>
            <tr>
                <td class="label">First Name :</td>
                <td><input type=text name=textnames id="textname" size="30"></td>
            </tr>
            <tr>
                <td class="label">Last Name :</td>
                <td><input type=text name=lastnames id="lastname" size="30"></td>
            </tr>
            <tr>
                <td class="label">Mobile Number :</td>
                <td><input type="number"pattern="[0-9]{1000000000,9999999999}" name="mobile" id="mobile"/></td>
            </tr>
            <tr>
                <td class="label">Gender :</td>
                <td>
                    <input type="radio" name="sex" value="male" size="10">Male
                    <input type="radio" name="sex" value="Female" size="10">Female
                </td>
            </tr>
            <tr>
                <td class="label">City</td>
                <td><select name="City">
                    <option value="-1" selected>select..</option>
                    <option value="KOLKATA">KOLKATA</option>
                    <option value="CHENNAI">CHENNAI</option>
                    <option value="PUNE">PUNE</option>
                    <option value="JAIPUR">JAIPUR</option>
                    </select>
                </td>
            </tr>
             <tr>
                <td class="label">District</td>
                <td><select name="District">
                    <option value="-1" selected>select..</option>
                    <option value="Nalanda">Krishna</option>
                    <option value="UP">Guntor</option>
                    <option value="Goa">Nelluru</option>
                    <option value="Patna">Kadapa</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">State</td>
                <td><select Name="State">
                    <option value="-1" selected>select..</option>
                    <option value="New Delhi">Karnataka</option>
                    <option value="Mumbai">Telangana</option>
                    <option value="Goa">Andhra Pradesh</option>
                    <option value="Bihar">Bihar</option>
                    </select>
                </td>
            </tr>
           
            <tr>
                <td class="label">Date Of Joining</td>
                <td><input type="date" name="date_of_joining" id="doj" size="30"></td>
            </tr>

       </table>

    <input type="reset" id="reset">
    <input type="submit" value="Submit Form" id="submit" />
    
    </div>
    </form>
    </body>    <br />
    <br />