@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    this.Layout = "~/Pages/Shared/_Layout.cshtml";
    string author = "lakshmi prasad";

}

<h1> Index 2 Demo</h1>
<p>This page has been designed by @author.ToUpper()</p>
