@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:aquamarine;">Welcome to Food World</h1>
   
</div>
<img src="~/Images\1.jpg" style="width900px;height:750px;"/>